body {
  font-family: "San Francisco", "Avenir Next", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

/* Naked button */

.btn--link {
  background: none;
  border: none;
}

/* Green Button */

.btn--green,
.btn--green:link,
.btn--green:visited {
  color: #fff;
  background-color: #47A94B;
}

.btn--green:hover {
  color: #fff;
  background-color: #61bd65;
  border-color: #61bd65;
}

.btn--green:active {
  color: #fff;
  background-color: #6fd272;
  border-color: #6fd272;
}

.btn--green:hover {
  background-color: #61bd65;
}

.btn--green {
  background-color: #47A94B;
}

/* Cart Button */

.btn--cart {
  padding: .75em;
  font-size: .8em;
}

.btn--cart,
.btn--cart:link,
.btn--cart:visited {
  color: #C0FFCA;
  background-color: #47A94B;
  border-color: #47A94B;
}

.btn--cart:hover {
  color: #fff;
  background-color: #61bd65;
  border-color: #61bd65;
}

.btn--cart:active {
  color: #C0FFCA;
  background-color: #6fd272;
  border-color: #6fd272;
}

.btn--cart:hover {
  background-color: #61bd65;
}

.btn--cart {
  background-color: #47A94B;
}
